{% extends "base.html" %}
{% load static %}

{% block content %}
<link media="all" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<style>
.dataTables_wrapper {
    font-family: Arial;
    font-size: 13px;
    direction: ltr;
    position: relative;
    clear: both;
    *zoom: 1.10;
    zoom: 1.10;


}

    /* Popup box BEGIN */
body {
  font-family: Arial, sans-serif;
  //background: url(http://www.shukatsu-note.com/wp-content/uploads/2014/12/computer-564136_1280.jpg) no-repeat;
  background-size: cover;
  height: 200vh;
}

h1 {
  text-align: center;
  font-family: Tahoma, Arial, sans-serif;
  color: #06D85F;
  margin: 80px 0;
}

.box {
  width: 40%;
  margin: 0 auto;
  background: rgba(255,255,255,0.2);
  padding: 35px;
  border: 2px solid #fff;
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center;
}

.button {
  font-size: 1em;
  padding: 10px;
  color: #fff;
  border: 2px solid #06D85F;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.button:hover {
  background: #06D85F;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  z-index: 9999;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}
.content-section {
  background: #FFFFFF;
  padding: 10px 20px;
  border: 1px solid #DDDDDD;
  border-radius: 3px;
  margin-bottom: 200px;
}


@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}

td, th { border: 1px solid #111; padding: 6px; *zoom: 1.30;
    zoom: 1.30;}
th { font-weight: bold; *zoom: 1.50;
    zoom: 1.50;}

/* Popup box BEGIN */
</style>
<div style="padding-top:20px;">
    <article class="media content-section">
          <div class="media body">
                <img class="rounded-circle account-img" src="{{ user.profile.image.url }}" style="width:150px;height:150px;">
                <div class="media-body">
                  <h2 class="account-heading">&emsp;{{ user.username }}</h2>
                  <p style="color: #3356FF">&emsp;&emsp;&nbsp;{{ user.email }}</p>
                  {% if request.user.is_superuser %}
                       <h2> &emsp;Role: Admin </h2>
                  {% else %}
                       <h2> &emsp;Role: Customer </h2>
                  {% endif %}
                </div>
          </div>
    </article>
</div>

{% endblock content %}
