{% extends "base.html" %}
{% block content %}
    <h1><a class="article-title" href="#" style="text-decoration: underline;">Submit New jobs...!</a></h1>
    </br>
    <h3>Previour jobs are listed here!</h3>
{% endblock content %}